div.mycontainer {
    width: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    align-items: start;
    justify-items: center;
}

    div.mycontainer div {
        width: 500px;
        float: left;
        background-color: #FFF4A3;
        text-align: center;
        display: inline-block;
        border: 1px solid black;
        padding: 10px;
        word-wrap: break-word;
    }

.abouttext {
    padding-top: 170px;
    padding-right: 300px;
    text-align: left;
    font-size: 25px;
}

h1 {
    text-align: center;
    background-color: #81D3DE;
    font-size: 45px;
    clear: both;
}

.about {
    font-size: 30px;
    padding-left: 170px;
}

.faceimg {
    float: left;
    margin-right: 20px;
    padding-bottom: 30px;
    padding-left: 400px;
}