div.mycontainer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

    div.mycontainer div {
        width: 1500px;
        background-color: #FFF4A3;
        text-align: center;
        border: 1px solid black;
        padding: 10px;
        word-wrap: break-word;
    }

.abouttext {
    padding-top: 170px;
    padding-right: 300px;
    text-align: left;
    font-size: 25px;
}

h1 {
    text-align: center;
    background-color: #81D3DE;
    font-size: 45px;
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.about {
    font-size: 30px;
    padding-left: 170px;
}

.faceimg {
    float: left;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-right: 20px;
    padding-bottom: 30px;
    margin-left: 400px;
}

.img {
    width: 640px;
    height: 360px;
}